@font-face {
    font-family: 'Vazirmatn';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('./Vazirmatn-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Vazirmatn';
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url('./Vazirmatn-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Vazirmatn';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url('./Vazirmatn-Bold.woff2') format('woff2');
}
